.cabecalho {
  height: 100px; /* ou qualquer outro valor que você considere adequado */
  background: linear-gradient(to bottom, #E2BF81, #F6E1B5);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(44, 5, 5);
}

.cabecalho .logo {
  width: 30%;
  padding: 1rem 2rem;
}

.cabecalho .logo img {
  width: 100%;
  max-width: 120px;
  height: auto;
}

@media (max-width: 576px) {
  .cabecalho .logo {
    padding: 2rem;
  }
  .cabecalho p {
    font-size: 1.5rem;
    background: #E2BF81;
  }
}

@media (max-width: 768px) {
  .cabecalho .logo {
    width: 60%;
  }
}
