footer {
  background: linear-gradient(to right, #E2BF81, #F6E1B5);
  gap: 0px 0px;
  text-align: center;
  padding: 0.9rem ;
  border-top: 1px solid black;
}

footer small {
  color: rgb(0, 0, 0);
}

@media (max-width: 576px) {
  .cabecalho .logo {
    padding: 2rem;
  }

  .cabecalho p {
    font-size: 1.5rem
  }
}

@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
